* {
    box-sizing: border-box;
}

html, body {
    min-width: 100vw;
    min-height: 100vh;
}

body {
    background-color: #eee;
    background-image: url(../images/bg.png);
}

.wrapper {
    width: 100%;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding-top: 50px;
}

#add-color-form {
    max-width: 800px;
}

#color-input {
    width: 63%;
    max-width: 500px;
    height: 40px;
    outline: 0;
    border: 0;
    border-radius: 5px;
    padding: 8px 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
}

#add-color, #add-random-color {
    height: 40px;
    padding: 0.2em 1em;
    margin: 0 0 0 7px;
    outline: 0;
    border: 0;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
    background-color: #bbb;
    color: #fff;
}

#add-color {

}

#add-random-color {

}

.color-buttons {
    padding: 10px 0;
    display: flex;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.color {
    background-color: #999;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.4em;
    line-height: 1em;
    padding: 8px 18px 8px;
    outline: 0;
    border-radius: 4px;
    border: 0;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}